header{
    background-color: #c9bf63;
    text-align: center;
}
div > h2 {
    text-align: center;
    padding: 20px;
    font-family: lobster, cursive;
    text-decoration: underline;
}
.card-body{
    background-color: #c9bf63;
}
.list-group-item{
    text-align: center;
}
.Plat{
    background-color: rgb(175, 175, 175);
}
.Entrée{
    background-color: #7e9db2;
}
.Dessert{
    background-color: rgba(100, 154, 216, 0.76);
}
section{
    padding-bottom: 40px;
}
footer{
    text-align: center;
}
.nav-item > a{
    color: #ffffff;
}